<!-- <% if current_user.follows?(user) %>
  <%= button_to "Unfollow", user_follow_url(user), method: :delete %>
<% else %>
  <%= button_to "Follow", user_follow_url(user), method: :post %>
<% end %> -->

<% initial_follow_state = current_user.follows?(user) ? "followed" : "unfollowed" %>
<% user_id = user.id  %>

<button
  class="follow-toggle"
  data-initial-follow-state="<%= initial_follow_state %>"
  data-user-id="<%= user_id %>">
</button>
